<%= form_for(@male_post_comment) do |f| %>
  <% if @male_post_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@male_post_comment.errors.count, "error") %> prohibited this my_comment from being saved:</h2>

      <ul>
      <% @male_post_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="hidden">
    <%= f.hidden_field :lady_doctor_post_id, :value => @lady_doctor_post.id %>
  </div>
  <!--div class="field"-->
    <%#= f.hidden_field :male_id, :value => @male.id %>
  <!--/div-->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>