<div class="container">
  <% if @lady_doctor.age.nil? && @lady_doctor.profile_image_id.nil? %>
    <span class="notification">まずはMyPageから自分のプロフィールを編集してね！<br>それができたら、投稿をしてプロフィール画像を設定してね</span>
  <% elsif !@lady_doctor.age.nil? && @lady_doctor.profile_image_id.nil? %>
    <span class="notification">投稿をしてプロフィール画像を設定してね</span>
  <% elsif @lady_doctor.age.nil? && !@lady_doctor.profile_image_id.nil? %>
    <span class="notification">MyPageから自分のプロフィールを編集してね！</span>
  <% else %>
    <span class="notification">気に入った男性をlikeしてみよう！</span>
  <% end %>
  <div class="clearfix userWrapper">
    <div class="box_left ladyprofile">
      <% if @lady_doctor_post != nil %>
        <% if @lady_doctor_post.image? %>
      <%= image_tag @lady_doctor_post.image.thumb.url %>
        <% else %>
         <%= image_tag 'noimage.gif' %>
        <% end %>
      <% else %>
        <%= image_tag 'noimage.gif' %>
      <% end %>
    </div>
    <!-- box_left ladyprofile -->
    <div class="box_left profile">
      <span class="default">名前：</span><span class="unique"><%= link_to "#{@lady_doctor.name}", @lady_doctor %></span><br>
      <span class="default">MyPosts:</span> <%= @lady_doctor.lady_doctor_posts.count %> | <%= Relationship.where(lady_doctor_id: @lady_doctor.id).count %></span><span class="default">  Followers</span><br>
    </div>
  </div>
  <!-- clearfix userWrapper -->



      <%#= profile_image_for @male %>
      
      <%#= puts @males %>
  <div class="userPostWrapper">
    <% if @males.any? %>
      <h2 class="notification">Followしてきた男性一覧</h2>
        
          <% @males.each do |male| %>
            <div class="item">
            <div class="userWrapper_extra"> 
              <div class ="clearfix">
                <div class="box_left myprofile follow">
                  <% if male.profile_image_id %>
                    <%= image_tag MalePost.find(male.profile_image_id).image.thumb.url %>
                  <% else %>
                    <%= image_tag 'noimage.gif' %>
                  <% end %>
                </div>
                <div class="box_left followprofile">
                  <span class="default">名前: </span><span class="unique"><%= link_to "#{male.name}", follower_path(lady_doctor_id: @lady_doctor.id, id: male.id) %></span><br>
                  <%= Relationship.where(male_id: male.id).count %></span><span class="default">  Followings</span>
                </div>
              </div>
              <!-- clearfix -->

              <div class="_18--"></div>
              <div class="additionpost clearfix">
                <div class="additionleft"><%= render partial: 'like_form', locals: {male: male, lady_doctor: @lady_doctor} %>
                </div>
              </div>
              <!-- additionpost -->
            </div>
            <!--  userWrapper_extra -->
            </div>
        <!-- item -->
          <% end %>
        
    <% end %>
  </div>
  <!-- userPostWrapper -->
 
<%= link_to 'ログアウト', destroy_lady_doctor_session_path, method: :delete %>

</div>