<div class="container">
  <% if @lady_doctor.age.nil? && @lady_doctor.profile_image_id.nil? %>
    <span class="notification">自分のプロフィールを編集してね！<br>それができたら、投稿をしてプロフィール画像を設定してね</span>
  <% elsif !@lady_doctor.age.nil? && @lady_doctor.profile_image_id.nil? %>
    <span class="notification">プロフィール編集したね！<br>次は投稿をしてプロフィール画像を設定してね</span>
  <% elsif @lady_doctor.age.nil? && !@lady_doctor.profile_image_id.nil? %>
    <span class="notification">自分のプロフィールを編集してね！</span>
  <% end %>
  <div class="clearfix userWrapper" >
    <div class="box_left ladyprofile">
      <% if @lady_doctor_post != nil %>
        <% if @lady_doctor_post.image? %>
         <%= image_tag @lady_doctor_post.image.thumb.url %>
        <% else %>
         <%= image_tag 'noimage.gif' %>
        <% end %>
      <% else %>
        <%= image_tag 'noimage.gif' %>
      <% end %>
    </div>

    <div class="box_left profile">
       <span class="default">名前:</span><span class="unique"><%= @lady_doctor.name %></span>
       <% if @lady_doctor.age != nil %>
      <span class="default">   年齢: </span><span class="unique"><%= @lady_doctor.age %></span><br>
      <% end %>
      <% if @lady_doctor.work != nil %>
      <span class="default">仕事: </span><span class="unique"><%= @lady_doctor.work %></span>
      <% end %>
      <% if @lady_doctor.annual_income != nil %>
      <span class="default">年収: </span><span class="unique"><%= @lady_doctor.annual_income %></span><br>
      <% end %>
       <br><%= Relationship.where(lady_doctor_id: @lady_doctor.id).count %></span><span class="default">  Followers</span><br>
       <%= link_to 'Edit My Profile', edit_lady_doctor_path(id: @lady_doctor)  %><br>
    </div>

  </div>
  <!--  clearfix userWrapper  -->


  <%= link_to 'New Post',  new_lady_doctor_lady_doctor_post_path(lady_doctor_id: @lady_doctor.id) %> 


  <div class= "userPostWrapper">
    <% @lady_doctor_posts.each do |lady_doctor_post| %>
      <div class="item">
        <div class="main">
          <div class ="clearfix" >
            <div class="box_left ladyprofile">
              <% if @lady_doctor_post != nil %>
                <% if @lady_doctor_post.image? %>
                 <%= image_tag @lady_doctor_post.image.thumb.url %>
                <% else %>
                 <%= image_tag 'noimage.gif' %>
                <% end %>
              <% else %>
                <%= image_tag 'noimage.gif' %>
              <% end %>
            </div>

            <div class="box_left profile">
              <span class="unique"><%= @lady_doctor.name %></span>  <span class="default">Posted my photo.</span>  <br>
              <span class="default">posted at </span> <span class="unique"><%= lady_doctor_post.created_at %></span> <br>
              <%= Relationship.where(lady_doctor_id: lady_doctor_post.lady_doctor.id).count %></span><span class="default">  Followers</span><br>
            </div>
          </div>
          <!-- clearfix -->

          <div class="userContent">
            <%= lady_doctor_post.content %>
          </div>


<div class="image">
          <% if lady_doctor_post.image? %>
　　         <%= image_tag lady_doctor_post.image.url %>
　        <% else %>
　　         <%= image_tag 'noimage.gif' %>
　        <% end %>
</div>
        </div>
        <!--main-->

        <div class="_18--"></div>
        <div class="additionpost">
        <%= MalePostComment.where(lady_doctor_post_id: lady_doctor_post.id).count %></span><span class="default"> Comments</span><br>
        <%= link_to 'Show', lady_doctor_lady_doctor_post_path(lady_doctor_id: @lady_doctor.id, id: lady_doctor_post.id) %>
        <%= link_to 'Edit', edit_lady_doctor_lady_doctor_post_path(lady_doctor_id: @lady_doctor.id, id: lady_doctor_post.id) %>
        <%= link_to 'Delete', lady_doctor_lady_doctor_post_path(lady_doctor_id: @lady_doctor.id, id: lady_doctor_post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'これをプロフィール画像にする', lady_doctor_image_path(lady_doctor_id: @lady_doctor.id, id: lady_doctor_post.id), method: :post %>
      </div>
     </div>
     <!-- item -->
    <% end %>
</div>
<!-- userPostErapper --> 


<%#= link_to 'Edit My Profile', edit_my_thread_path(@my_thread) %> 
<%= link_to 'Back', lady_doctors_path %>

</div>
