<div class="container">
  <% if @male.age.nil? && @male.profile_image_id.nil? %>
    <span class="unique">まずはMyPageから自分のプロフィールを編集してね！<br>それができたら、投稿をしてプロフィール画像を設定してね</span>
  <% elsif !@male.age.nil? && @male.profile_image_id.nil? %>
    <span class="unique">投稿をしてプロフィール画像を設定してね</span>
  <% elsif @male.age.nil? && !@male.profile_image_id.nil? %>
    <span class="unique">MyPageから自分のプロフィールを編集してね！</span>
  <% else %>
    <span class="unique">気に入った女医をフォローして、投稿にコメントしてアピールしよう！</span><br>
  <% end %>



  <div class="clearfix userWrapper" >
    <div class="box_left myprofile">
      <% if @male_post != nil %>
        <% if @male_post.image? %>
         <%= image_tag @male_post.image.thumb.url %>
        <% else %>
         <%= image_tag 'noimage.gif' %>
        <% end %>
      <% else %>
        <%= image_tag 'noimage.gif' %>
      <% end %>
    </div>
    
    <div class="box_left profile">
      <span class="default">名前：</span><span class="unique"><%= @male.name %></span><br>
      <span class="default">MyPosts:</span> <%= @male.male_posts.count %><br>
      <span><%= link_to "view my page", @male %></span><br>
      <%= link_to 'フォローしてない女医一覧', unfollowing_male_path(id: @male.id) %>
    </div>
    
  </div>
  
  <div>
      <% if @comments.any? %>
        <span class="likealert">likeしてきた女医の連絡先: </span><br>
          <% @comments.each do |comment| %>
            <%= image_tag LadyDoctorPost.find(LadyDoctor.find_by(email: comment).profile_image_id).image.thumb.url %>
            <span class="default">名前：</span><span class="unique"><%= LadyDoctor.find_by(email: comment).name %></span>
            <span class="default">連絡先：</span><span class="unique"><%= comment %></span><br>
          <% end %>
        </h3>
      <% end %>
  </div>
  
  
  <div class= "userPostWrapper">
    <% if @lady_doctor_posts.any? %>
      <h3><%= @title %></h3>
      <% @lady_doctor_posts.each do |lady_doctor_post| %>
        <div class="item" >
          <div class="main">
            <div class ="clearfix" >
              <div class="box_left ladyprofile">
                <% if lady_doctor_post.lady_doctor.profile_image_id %>
                  <%= image_tag LadyDoctorPost.find(lady_doctor_post.lady_doctor.profile_image_id).image.thumb.url %>
                <% else %>
                  <%= image_tag 'noimage.gif' %>
                <% end %>
              </div>  


              <div class="box_left profile">
                  <span class="unique"><%= lady_doctor_post.lady_doctor.name %></span> <span class="default">posted my photo.</span><br>
                   <span class="default">Posted at </span><span class="unique"><%= lady_doctor_post.created_at %></span>
              </div>
            </div>
            <!--clearfix-->

            <div class="userContent">
              <% if lady_doctor_post.content %>
                <%= lady_doctor_post.content %>
              <% end %>
            </div>


            <div class="ladyimage">
             <% if lady_doctor_post.image? %>
              <%= image_tag lady_doctor_post.image.url %>
             <% else %>
               <%= image_tag 'noimage.gif' %>
             <% end %>
            </div>
         </div>
         <!--main-->
          
         <div class="_18--"></div>
         <div class="additionpost">
           <%= link_to 'Show', lady_doctor_posts_show_path(id: lady_doctor_post.id, male_id: @male.id) %>
         </div>
       </div>
       <!--item-->
      <% end %>
  <% end %>
  </div>
  <!-- userPostWrapper -->

<%= link_to 'ログアウト', destroy_male_session_path, method: :delete %>

 </div>
 <!--container -->