<div class="container">
  <div class="clearfix userWrapper" >
    <div class="box_left ladyprofile">
      <% if @lady_doctor.profile_image_id %>
        <%= image_tag LadyDoctorPost.find(@lady_doctor.profile_image_id).image.thumb.url %>
      <% else %>
        <%= image_tag 'noimage.gif' %>
      <% end %>
    </div>


    <div class="box_left profile">
      <span class="default">Name:</span><span class="unique"><%= @lady_doctor.name %></span>
      <% if @lady_doctor.age != nil %>
      <span class="default">   年齢: </span><span class="unique"><%= @lady_doctor.age %></span><br>
      <% end %>
      <% if @lady_doctor.work != nil %>
      <span class="default">仕事: </span><span class="unique"><%= @lady_doctor.work %></span>
      <% end %>
      <% if @lady_doctor.annual_income != nil %>
      <span class="default">年収: </span><span class="unique"><%= @lady_doctor.annual_income %></span><br>
      <% end %>
      <br><span class="unique"><%= Relationship.where(lady_doctor_id: @lady_doctor.id).count %></span><span class="default">  Followers</span>
    </div>

  </div>
  <!--  clearfix userWrapper  -->
  
  <div class= "userPostWrapper">
    <% @lady_doctor_posts.each do |lady_doctor_post| %>
     <div class="item">
      <div class="main">
        <div class ="clearfix" >
          <div class="box_left ladyprofile">
            <% if lady_doctor_post.lady_doctor.profile_image_id %>
              <%= image_tag LadyDoctorPost.find(lady_doctor_post.lady_doctor.profile_image_id).image.thumb.url %>
            <% else %>
              <%= image_tag 'noimage.gif' %>
            <% end %>
          </div>

           <div class="box_left profile">
            <span class="unique"><%= @lady_doctor.name %> </span><span class="default">posted my photo. </span><br>
            <span class="default">Posted at </span><span class="unique"><%= lady_doctor_post.created_at %></span><br>
            <span class="unique"><%= Relationship.where(lady_doctor_id: @lady_doctor.id).count %></span><span class="default">  Followers</span>
           </div>
        </div>
         <!--clearfix-->

         <div class="userContent">
          <%= lady_doctor_post.content %>
         </div>

<div class="ladyimage">
         <% if lady_doctor_post.image? %>
           <%= image_tag lady_doctor_post.image.url %>
         <% else %>
           <%= image_tag 'noimage.gif' %>
         <% end %>
</div>

<div class="additionpost">
<span class="default">MyComments: </span><%= MalePostComment.where(lady_doctor_post_id: lady_doctor_post.id, male_id: @male.id).count %> / <span class="default">All </span><%= MalePostComment.where(lady_doctor_post_id: lady_doctor_post.id).count %></span><span class="default">  comments</span><br>
</div>

         </div>
         <!--main-->
        </div>
        <!--item -->
    <% end %>
  </div>
  <!--userPostWrapper -->


<%= link_to 'topに戻る', males_path %>
</div>

