<div class="container">
  <% if @male.age.nil? && @male.profile_image_id.nil? %>
    <span class="notification">自分のプロフィールを編集してね！<br>それができたら、投稿をしてプロフィール画像を設定してね</span>
  <% elsif !@male.age.nil? && @male.profile_image_id.nil? %>
    <span class="notification">投稿をしてプロフィール画像を設定してね</span>
  <% elsif @male.age.nil? && !@male.profile_image_id.nil? %>
    <span class="notification">自分のプロフィールを編集してね！</span>
  <% else %>
    <span class="notification">準備は整った！<br>topページに戻って、気に入った女医をフォローしよう！</span><br>
    <%= link_to 'topに戻る', males_path %>
  <% end %>

  <div class="clearfix userWrapper" >
    <div class="box_left myprofile">
      
      <% if @male_post != nil %>
        <% if @male_post.image? %>
　　       <%= image_tag @male_post.image.thumb.url %>
        <% else %>
　　       <%= image_tag 'noimage.gif' %>
        <% end %>
      <% else %>
        <%= image_tag 'noimage.gif' %>
      <% end %>
    </div>
    <!-- 画像　-->


    <div class="box_left profile">
      <span class="default">名前: </span><span class="unique"><%= @male.name %></span>
      <% if @male.age != nil %>
      <span class="default">   年齢: </span><span class="unique"><%= @male.age %></span><br>
      <% end %>
      <% if @male.work != nil %>
      <span class="default">仕事: </span><span class="unique"><%= @male.work %></span>
      <% end %>
      <% if @male.annual_income != nil %>
      <span class="default">年収: </span><span class="unique"><%= @male.annual_income %></span><br>
      <% end %>
      <br><%= link_to 'Edit My Profile', edit_male_path(id: @male) %><br>
    </div>
    <!-- プロフィール -->

  </div>
  <!--  clearfix userWrapper  -->

  <%= link_to 'New Post', new_male_male_post_path(male_id: @male.id) %> 



  <div class= "userPostWrapper">
    <% @male_posts.each do |male_post| %>
     <div class="item">
      <div class="main">
      <div class ="clearfix" >
        <div class="box_left myprofile">
         <% if @male_post != nil %>
          <% if @male_post.image? %>
　　        <%= image_tag @male_post.image.thumb.url %>
          <% else %>
　　        <%= image_tag 'noimage.gif' %>
          <% end %>
         <% else %>
          <%= image_tag 'noimage.gif' %>
         <% end %>
        </div>
        
        <div class="box_left profile">
          <span class="unique"><%= @male.name %></span>  <span class="default">posted my photo.</span>  <br>
          <span class="default">Posted at </span> <span class="unique"><%= male_post.created_at %></span> 
        </div>
      </div>
      <!--clearfix-->

      <div class="userContent">
        <%= male_post.content %>
      </div>


      <div class="image">
      <% if male_post.image? %>
　　     <%= image_tag male_post.image.url %>
　     <% else %>
　　     <%= image_tag 'noimage.gif' %>
　     <% end %>
      </div>
      </div>
      <!--main-->


      <div class="_18--"></div>
      <div class="additionpost">
      <%= link_to 'Edit', edit_male_male_post_path(male_id: @male.id, id: male_post.id) %>  
      <%= link_to 'Delete', male_male_post_path(male_id: @male.id, id: male_post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      
        <%= link_to 'これをプロフィール画像にする', male_image_path(male_id: @male.id, id: male_post.id), method: :post %>
      </div>
     </div><!--item -->
    <% end %> 
   
  </div> 
  <!--userPostWrapper -->

  <%= link_to 'Back', males_path %>
</div>
