<div class="container">

<h4>女医をフォローして投稿にコメントしよう！</h4>


<h3 class="notification">フォローしてない女医たち</h3>

	 <div class="userPostWrapper">
  	<% @lady_doctors.each do |lady_doctor| %>
    <div class="userWrapper_unfollow"> 
          <div class ="clearfix">
              <div class="box_left myprofile follow">
                <% if lady_doctor.profile_image_id %>
                  <%= image_tag LadyDoctorPost.find(lady_doctor.profile_image_id).image.thumb.url %>
                <% else %>
                  <%= image_tag 'noimage.gif' %>
                <% end %>
              </div> 


              <div class="box_left followprofile">
                  <span class="unique"><%= link_to "#{lady_doctor.name}", unfollowing_index_path(male_id: @male.id, id: lady_doctor.id) %></span> 
                   <span class="default">年齢：</span><span class="unique"><%= lady_doctor.age %></span><br>
                   <%= Relationship.where(lady_doctor_id: lady_doctor.id).count %></span><span class="default">  Followers</span><br>
                    <%= render partial: 'follow_form', locals: {lady_doctor: lady_doctor} %>
              </div>
            </div>
            <!--clearfix-->

      </div>
            
        

        
  	<% end %> 
  </div> 
  <!--userPostWrapper -->

<%= link_to 'Back', males_path %>
</div>
